/* 72px is the height of the nav-bar. I'm sorry */
.page
{
	height: calc(100vh - 72px);
	overflow-y: auto;
}

#qth-map
{
	height: 100%;
}

#spot-map
{
	height: 100%;
	width: 100%;
	/* d3 overflows by a few pixels sometimes */
	overflow: hidden;
}

#loading-banner
{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	text-align: center;
}

#bandhopper
{
	width: 100%;
	height: auto;
}
